{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "iOS > 7", "Safari > 6", "IE > 10"]
        }
      }
    ]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-arrow-functions",
    "transform-es2015-modules-commonjs",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
